.btn-hamburger, .btn-primary {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-primary {
    @include header_text(1rem);
    padding: 2.5% 5% 2.5% 5%;
    background-color: $bright_orange;
    color: white;
}