.card {
    position: relative;
    padding: 2%;
    margin-bottom: 5%;

    @media screen and (max-width: $mobile_break) {
        margin-bottom: 15%;
    }
}

.card-text {
    background-color: $bright_orange;
    width: 85%;
    color: white;
    padding: 50% 5% 5% 5%;
    position: absolute;
    z-index: -1;
    right: 5%;
    top: 15%;

    @media screen and (max-width: $mobile_break) {
        font-size: 1rem;
    }
}

.card-image {
    width: 90%;
    height: auto;
}