// basic resets
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
}

section {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

h2 {
    @include header_text(2rem);
    color: $bright_orange;
}

h3 {
    @include header_text(1.25rem);
    color: $bright_orange;
}

p {
    @include body_copy(1rem);
}

// reponsive rem settings
html {
    font-size: 14px;

    @include breakpoint-min(medium) {
        font-size: 16px;
    }

    @include breakpoint-min(large) {
        font-size: 18px;
    }
}

.container {
    padding-left: 10%;
    padding-right: 10%;

    @media screen and (max-width: $tablet_break) {
        padding-left: 5%;
        padding-right: 5%;
    }
}