// basic resets
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    padding-top: 5%;
    padding-bottom: 5%;

    h2 {
        @include header_text(2rem);
        color: $bright_orange;
    }

    h3 {
        @include header_text(1.2rem);
        color: $bright_orange;
    }

    p {
        @include body_copy(0.9rem);

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}

// reponsive rem settings
html {
    font-size: 14px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 18px;
    }
}

.container {
    margin-left: 10%;
    margin-right: 10%;

    @media screen and (max-width: 991px) {
        margin-left: 5%;
        margin-right: 5%;
    }
}