.featured {
    h2 {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
}

.featured .content {
    box-sizing: border-box;
    padding-left: 5%;
    width: 100%;

    h3 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 40px;
        width: 100%;
    }

    @media screen and (max-width: 991px) {
        padding-left: 0;
    }
}