.footer {
    background-color: $bright_orange;
    color: white;
}

.footer-content {
    padding-top: 2em;
    padding-bottom: 2em;

    h3 {
        font-size: 1.2rem;
        color: white;

        @media screen and (max-width: $mobile_break) {
            margin-top: 5%;
            margin-bottom: 10%;
        }
    }
}

.footer-contact {
    @include all_caps(0.7rem);
    list-style-type: none;
    padding: 0;

    li {
        margin-bottom: 10px;
    }

    address {
        display: inline;
        font-style: normal;
    }
}

.footer-contact__label {
    float: left;
    width: 15%;

    // prevents overlap some small phone sizes
    @media screen and (max-width: $mobile_break) {
        width: 25%;
    }
}