.hero {
    background-image: url("../images/hero_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    padding-top: 60px; // offset the sticky nav

    @media screen and (max-width: $mobile_break) {
        min-height: 400px;
    }
}

.hero-content {
    background: white;
    max-width: 550px;
    padding: 3.5%;
    position: relative;

    button {
        white-space: nowrap;
        text-align: center;
        position: absolute;
        right: 5%;
        bottom: 0;
        transform: translateY(50%);
    }

    @media screen and (max-width: $mobile_break) {
        width: 100%;
        padding: 7.5%;

        button {
            right: auto;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}

.hero-text {
    width: 80%;

    @media screen and (max-width: $mobile_break) {
        width: 100%;
    }
}

.hero-text__headline {
    @include header_text(2.5rem);
    color: $bright_orange;
    margin-bottom: 20px;
}

.hero-text__offset {
    margin-left: 25%;
}