.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: $nav_background;

    ul {
        list-style-type: none;
        padding: 0;
    }
    li a {
        color: white;
    }
}

.navbar-title {
    @include header_text(1.1rem);
    li a {
        color: $nav_title_color;
    }
}

.navbar-mobile {
    text-align: right;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.navbar-items {
    @include all_caps(0.8rem);

    li {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (max-width: 767px) {
        display: none;

        li {
            display: block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}